:root{
  font-size: calc(1vw + .4rem);
  box-sizing: border-box;
  --green--color:#39DB4A;

}
*,
::after,
::before{
  box-sizing: inherit;
}
.chakra-ui-light{
  background-color:#ffffff;
  /* color: blue; */
}

.information > * {
  margin-bottom: .89em;
}

.food{
  color: var(--green--color);
}
.btn{
  background-color: var(--green--color) !important;
}

.image-background{
  background-color: var(--green--color) ; 
    border-radius: 100%;
    width: 31.37em;
    height: 31.37em;
    top: 3em;
    right: -1em;
    position: relative;
}

.main-image{
  position: absolute;
  width: 47rem;
  top: -5px;
}

.category{
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 6px 6px 12px grey;
  padding: 1.3em 3.2em;
  align-items: center;
}
.category > * + *{
  margin-top: .5em;
}

.category > div{
  width: 153px;
  height: 153px;
  border-radius: 50%;
  background-color: #C1F1C6;  
}

.category > div > img{
  margin: 20px auto;
}

.navigation > button{
    border-radius: 50%;
    padding: 1.1em 0.1em;
}
.navigation > button:nth-child(2){
    background-color: var(--green--color);
    color: white;
}

.menu-item{
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 6px 6px 12px grey;
  padding: 2em 3em;
  position: relative;
}
.menu-item > * + *{
  margin-top: .5em;
}

.pricing{
  display: flex;
  justify-content: space-between;
}
.pricing > p > span {
  color: red;
}

.menu-heart{
  position: absolute;
  top: 0;
  right: 0;
}
.image-container{
  position: relative;
  flex: 1;
}
.background{
  position: absolute;
    bottom: 0;
    left: 10px;
}

.testimonial-info{
  flex: 1;
 align-self: center;
}
.testimonial-info > * + *{
  margin-top: .8em;
}

.services-left {
  flex: 1;
}

.services-left > * + *{
  margin-top: .8em;
}

.services-right{
  flex: 1;
}