:root{
  font-size: calc(1vw + .4rem);
  box-sizing: border-box;
  --green--color:#39DB4A;

}
*,
::after,
::before{
  box-sizing: inherit;
}
.chakra-ui-light{
  background-color:#ffffff;
  /* color: blue; */
}

.information > * {
  margin-bottom: .89em;
}

.food{
  color: var(--green--color);
}
.btn{
  background-color: var(--green--color) !important;
}

.main-image-background{
  transform: scale(0.8);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: -20px;
}

.main-image{
  position: absolute;
  z-index: 1;
  transform: scale(.9);
  top: -50px;
  right: 5px;
}
.category-container{
  padding: 0.1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(100%,12rem),1fr));
  grid-column-gap: 1.2em ;
}

.category{
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 6px 6px 12px grey;
  padding: 1.3em 3.2em;
  align-items: center;
}
.category > * + *{
  margin-top: .5em;
}

.category > div{
  width: 153px;
  height: 153px;
  border-radius: 50%;
  background-color: #C1F1C6;  
}

.category > div > img{
  margin: 20px auto;
}

.navigation > button{
    border-radius: 50%;
    padding: 1.1em 0.1em;
}
.navigation > button:nth-child(2){
    background-color: var(--green--color);
    color: white;
}

.menu-item{
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 6px 6px 12px grey;
  padding: 2em 3em;
  position: relative;
}
.menu-item > * + *{
  margin-top: .5em;
}

.pricing{
  display: flex;
  justify-content: space-between;
}
.pricing > p > span {
  color: red;
}

.menu-heart{
  position: absolute;
  top: 0;
  right: 0;
}
.image-container{
  position: relative;
  flex: 1;
}
.background{
  position: absolute;
    bottom: 0;
    left: 10px;
}

.testimonial-info{
  flex: 1;
 align-self: center;
}
.testimonial-info > * + *{
  margin-top: .8em;
}

.services-left {
  flex: 1;
  padding: 0 .5em;
  align-self: center;
}

.services-left > *{
  margin-bottom: .8em;
}

.services-right{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(2 ,1fr);
  align-items: center;
  grid-gap: .8em;
}
.service{
  border-radius: 30px;
  display: flex;
  row-gap: .6em;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 9px grey;
  justify-content: center;
  padding: 2.2em 1.4em;
}
.contactUs{
  display: flex;
  justify-content: space-between;
}
.contactUs .links{
 padding: .2em .6em;
}

.group-links > button{
  padding: 1.5em 0.1em;
  border-radius: 40px;
}

.group-links > button:nth-child(1){
  background-color: var(--green--color);
}
